body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-white-btn {
  @apply hover:bg-[#bbb6ff] hover:border-none;
}

.hover-dark-btn {
  @apply hover:bg-[#9d96ff] hover:text-[#3730A3];
}

.hover-logo {
  @apply hover:bg-[#3730A3] hover:text-white;
}

.hover-link {
  @apply hover:text-[#3730A3];
}

.hover-text {
  @apply hover:text-[#3730A3];
}

.hover-card {
  @apply hover:p-4;
}

.hover-footer-text {
  @apply hover:text-3xl;
}

.hover-dark-text {
  @apply hover:dark:text-[#3730A3];
}

.hover-dark-logo {
  @apply hover:dark:bg-[#3730A3] hover:text-white;
}

.hover-dark-white-btn {
  @apply hover:dark:bg-[#bbb6ff] hover:border-none;
}

.blue-text {
  @apply text-secondary-blue-600 dark:text-secondary-blue-100;
}
